<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/home" <%- title === 'Home Page' ? 'class="active"' : '' %>>Home</a>
        <% if (user) { %>
          <a href="/<%= user.id %>/profile" <%- title === 'Profile' ? 'class="active"' : '' %>>Profile</a>
          <a href="/logout">LOG OUT</a>
          <div class="user-info">
            <span>Welcome, <%= user.name %></span>
            <img src="<%= user.avatar %>" alt="<%= user.name %>'s Avatar">
          </div>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>