<%- include('../partials/header') %>
<form action="/posts" method="POST">
    <textarea name="content" rows="4" cols="50" placeholder="What's on your mind?"></textarea><br>
    <button type="submit">Post</button>
</form>
<table>
    <section id="show-page">
        <h2>All Posts</h2>
        <% posts.forEach(function(post) { %> 
            <div><%= post.userName %></div> 
            <div>Posted: <%= post.createdAt.toLocaleDateString() %></div><br>
            <% if (post.updatedAt) { %> 
                <div>Edited At: <%= post.updatedAt.toLocaleDateString() %> <%= post.updatedAt.toLocaleTimeString() %></div>
            <% } %>
            <div><%= post.content %></div><br>
            <% if (currentUser && post.author.equals(currentUser._id)) { %> 
                <a href="/posts/<%= post._id %>/edit" class="button">Edit</a>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="button">Delete</button>
                </form>
            <% } %>
            <br>
        <% }); %>
    </section>
</table>
<%- include('../partials/footer') %>

