<%- include('../partials/header') %>
<% if (!currentUser) { %>
    <script>
        window.location.href = '/';
    </script>
<% } else { %>
<div class="container">
    <form action="/posts" method="POST">
        <div class="post-form">
            <textarea name="content" rows="4" placeholder="What's on your mind?"></textarea>
            <button type="submit">Post</button>
        </div>
    </form>
    <table>
        <section id="show-page">
            <h2>All Posts</h2>
            <% posts.slice().reverse().forEach(function(post) { %> 
                <% if (currentUser && post.author.equals(currentUser._id)) { %> 
                    <div class="post-show">
                    <div class="dropdown">
                        <button class="dropdown-btn">&#8942;</button>
                        <div class="dropdown-content">
                            <a href="/posts/<%= post._id %>/edit" class="button">Edit Post</a>
                            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="button">Delete Post</button>
                            </form>
                        </div>
                    </div>
                <% } %>
                   <div class = "post-detail"><%= post.userName %> | <%= post.createdAt.toLocaleDateString() %><br>
                    <div><%= post.content %></div>
                   </div>
                    <br>
                    <div class = "comments"><h3>Comments:</h3></div>
                    <ul>
                        <% post.comments.forEach(function(comment) { %>
                            <li>
                                <% if (currentUser && (currentUser._id.equals(comment.author) || currentUser._id.equals(post.author))) { %>
                                    <div class="dropdown">
                                        <button class="dropdown-btn">&#8942;</button>
                                        <div class="dropdown-content">
                                            <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                <button type="submit" class="button">Delete Comment</button>
                                            </form>
                                        </div>
                                    </div>
                                <% } %>
                                <div class ="comment-content">
                                <div><%= comment.userName %> - <%= post.createdAt.toLocaleDateString() %></div>
                                <br>
                                <div><%= comment.content %></div><br>
                            </div>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                <% if (currentUser) { %>
                <div class ="comment-form">
                <form action="/posts/<%= post._id %>/comments" method="POST">
                    <input type="text" name="content" placeholder="Add a comment">
                    <button type="submit">Add Comment</button>
                </form>
                </div>
                <% } %>
                <br>
            <% }); %>
        </section>
    </table>
</div>
<%- include('../partials/footer') %>
<% } %>
